path {
  fill: #222;
  stroke: #666;
  stroke-width: .5px;
}

path.state {
  fill: #222;
  stroke: #666;
  stroke-width: .5px;
}

.country-label{
  fill: #666;
  font-family: sans-serif;
}

.states-label{
  fill: #888;
  font-family: sans-serif;
}

svg {
  background-color: black;
  border: 1px solid #777;
}

#nodeHistory {
    height: 400px;
    float: left;
    overflow: auto;
    overflow-x: hidden;
}

#dateText {
  font-size: 40px;
  font-family: sans-serif;
}

#leftPanel {
  float: left;
  width: 13%;
}

#rightPanel {
  float: left;
  width: 87%;
}


/*#queryForm {
    position: absolute;
    width: 180px;
    height: auto;
    padding: 10px;
    background-color: #ddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}*/

#queryForm p{
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

#nodeToolTip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 3px;
    background-color: rgba(100,200,130,0.8);
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#clusterToolTip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 3px;
    background-color: rgba(250,50,150,0.8);
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.hidden {
    display: none;
}




 