
.bar:hover {
    fill: white;
}
.graph {} 
.statespath {}



svg {
  background-color: black;
  border: 1px solid #777;
}

path {
  fill: #444;
  stroke: #888;
  stroke-width: .5px;
}

path.state {
  fill: #444;
  stroke: #bbb;
  stroke-width: .5px;
}

path.county {
  fill: #444;
  stroke: #eee;
  stroke-width: .5px;
}